*.class
.classpath
.settings/
*.log
*.jar
.project
*.jar
*.war
*.ear
*.zip
*.rar


# system ignore
.DS_Store
Thumbs.db

*.cache
*.diff
*.patch
*.tmp

src/main/webapp/WEB-INF/classes/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/logs/

target/
