@charset "utf-8";
/* CSS Document */
/*----------CSS 通用属性----------*/
body,html{margin:0; padding:0; background-color:#eeeded; font-size:12px; font-family:Arial, Helvetica, sans-serif,"宋体"; width:100%; height:100%;}
ul, p,h1,h2,h3,h4,h5,li{margin:0px; padding:0;list-style:none;}
label, button, input[type="submit"], input[type="button"] {cursor:pointer;}
.clear{clear:both;}
.float_lef{float:left; display:inline;}
.float_rig{float:right; display:inline;}
img{border:none; margin:0; padding:0;}
.font_wei{font-weight:bold;}
.clearfix {zoom:1;}     
.clearfix:after {     
    content:'.';     
    display:block;     
    visibility:hidden;     
    clear:both;     
    height:0px;     
    font-size:0;     
    line-height:0px;     
}
.ui-jqgrid tr.jqgrow td {
    text-overflow : ellipsis;
 }
.marg_lef5{margin-left:5px;}
.marg_rig5{margin-right:5px;}
.marg_lef10{margin-left:10px;}
.padd10{padding:10px;}
.width100{width:100%;}
.width80{width:80%;}
.width30{width:30%;}
a{color:#2c6795; text-decoration:none; font-weight:normal;}
a:link{color:#2c6795; text-decoration:none; font-weight:normal;}
a:visited {color:#2c6795; text-decoration:none; font-weight:normal;}
a:hover{color:#2c6795; text-decoration:underline; font-weight:normal;}
a:active{color:#2c6795; text-decoration:none; font-weight:normal;}
/*----------end CSS 通用属性----------*/
/*--------------------start login----------------*/
.login_content{background:url(../images/login_conbg.jpg) center center;}
.login_box{
	position:absolute; 
	width:531px; 
	height:476px; 
	background:url(../images/login_box.png) no-repeat; 
	* background:url(../images/login_box.jpg) no-repeat; 
	_ background:url(../images/login_box.jpg) no-repeat top center;
}
.lb_wrap{padding:70px 10px 0 40px; position:relative;}
.login_logo{background:url(../images/login_logo_4a.jpg) no-repeat; width:436px; height:95px;} 
.login_form_wrap{position:relative;}
.login_form_wrap table{width:364px;}
.login_form_tab1{position:absolute; top:30px; *top:0px; _top:0px; left:30px;}
.login_form_tab2{position:absolute; top:272px; *top:255px; _top:250px; left:30px;}
.login_form_wrap label{font-size:13px; font-weight:bold; color:#276198;}
.login_toolBar{height:28px; width:100%; position:absolute; top:0; background:url(../images/login_toolBar.jpg) repeat-x left bottom; color:#bfd7f7;}
.lg_Tb_wrap{padding:3px 30px; text-align:right;}
.login_form_wrap td{padding:2px 5px;}
.login_inputext{background:url(../images/login_inputextbg.jpg) no-repeat; width:260px; height:28px; border:none; line-height:28px; padding-left:10px;}
.Warning{color:#FF0000;}
.but01{background:url(../images/login_but01.jpg) no-repeat; width:69px; height:38px; cursor:pointer;}
.but01_hover{background:url(../images/login_but01Hover.jpg) no-repeat; width:69px; height:38px;}
.but02{background:url(../images/login_but02.jpg) no-repeat; width:69px; height:38px; cursor:pointer;}
.but02_hover{background:url(../images/login_but02Hover.jpg) no-repeat; width:69px; height:38px;}
#select_box table{display:none;}
#showHideBox{width:300px; height:280px; position:absolute; top:58px; left:514px; *left:514px; _left:474px;}
.showHideBox_lef{width:230px; height:280px; background:#0d3d7f;  display:none; overflow:hidden; border-bottom:1px solid #94bff8; border-top:1px solid #94bff8; border-right:1px solid #94bff8;}
.showHideBox_lef table tr th{padding:5px 0; color:#fff;}
.showHideBox_lef table tr td{padding:2px 0;}
.showHideBox_right_hide{width:10px; height:280px; cursor:pointer; background:url(../images/showHideBox_right_hide.gif) no-repeat;}
.showHideBox_right_show{width:10px; height:280px; cursor:pointer; background:url(../images/showHideBox_right_show.gif) no-repeat; display:none;}
#showBotHideBox{width:300px; height:150px; position:absolute; bottom:-437px; *bottom:-144px; _bottom:-132px; left:100px;}
.showBotHideBox_con{width:300px; height:130px; background:#5a8bcd; overflow:hidden; border-bottom:1px solid #94bff8; border-left:1px solid #94bff8; border-right:1px solid #94bff8; display:none;}
.showBotHideBox_bot_hide{width:300px; height:10px; cursor:pointer; background:url(../images/showHideBox_Bot_hide.gif) no-repeat; display:none;}
.showBotHideBox_bot_show{width:300px; height:10px; cursor:pointer; background:url(../images/showHideBox_Bot_show.gif) no-repeat;}
.showBotHideBox_con table tr th{padding:5px 0; color:#fff;}
.showBotHideBox_con table tr td{padding:2px 0;}
.good{width:90%; background:#f5f5f5; border:1px solid #bdc9d7; display:none; padding:1px 2px;}
.good table{width:100%}
.sub{display:none;}
.menuBar{margin-right:50px;}
.menuBar .sub{ width:100px; position:absolute; right:34px; top:1px;  padding:0px; text-align:left;}
.sub_tit{ border:1px solid #74a0dc; border-bottom:none; background:#5a8bcd; padding:1px 5px; width:60px; height:18px; left:0px; top:0px;  position:absolute; z-index:3;}
.slide{border:1px solid #74a0dc; width:90px; background:#5a8bcd; padding:5px;  position:absolute;  left:0px; top:20px; z-index:2;}
.slide li{padding:3px 2px; cursor:pointer;}
/*--------------------end login----------------*/
/*----------start layout布局框架----------*/
/*----------start layout_tradition_2010.06.10----------*/
/*----start hd----*/
.layout_t_hd{width:100%; height:41px; background:url(../images/layout_t_hd_bg.jpg) repeat-x; line-height:41px;}
.layout_t_hd_wrap{padding:0px 10px;}
.LT_logo{background:url(../images/layout_t_logo.jpg) no-repeat left top; width:100%; height:41px;}
.LT_Fr_wrap{color:#16416f;}
.LT_hd_li{width:30px; height:23px; margin-left:10px; cursor:pointer; padding-top:5px; padding-bottom:2px; position:relative; z-index:3;}
.LT_hd_li table{ width:30px; height:25px; line-height:25px; font-size:13px; position:absolute; top:8px; left:10px; font-weight:bold; z-index:1000;}
.LT_hd_li_hover{background:url(../images/LT_hd_li_hover.png) no-repeat left center; width:30px; height:30px;}

/*----end hd----*/
/* 修改以下三项把原来的41改成76px
*/
.LT_left{position:absolute; top:58px; left:0px;width:80px; background:#eeeded;}
.LT_hide_ELe{position:absolute; top:58px;   no-repeat left ; cursor:e-resize;vertical-align: middle;}
.LT_show_ELe{position:absolute; display:none; top:76px; left:0px; cursor:pointer; width:9px; background:url(../images/LT_show_ELe_bg.jpg) no-repeat left top;}
.LT_main{position:absolute; top:58px; background:#eeeded; /*background:#ffffff url(../images/layout_t_main_bg.jpg) repeat-x left top;*/;}
.LT_footer{position:absolute; bottom:0px; width:100%; height:26px; background:url(../images/LT_footer_bg.jpg) repeat-x; line-height:26px; color:#ffffff; overflow:hidden;}
.LT_ft_wrap{padding:1px 20px 0 20px;}
.colorOrange{color:#ff7709;}
.colorFF9900{color:#FF9900;}
.colorFF3300{color:#FF3300;}
.color6c{color:#CCCCCC;}
.colorblue{color:#0000FF;}
.color2C6795{color:#2C6795;}
/*----start submenu----*/
.subTopMenu{ width:100%; height:39px; background:url(../images/subMenu_bg.jpg) repeat-x left top;}
.subTopMenu_wrap{padding:1px 10px 4px 10px; text-align:center;}
.LT_Fr_wrap_TM{color:#FFF; float:left;}
.LT_hd_li_TM{width:100px; height:23px; margin-left:5px; cursor:pointer; padding-top:5px; padding-bottom:2px; position:relative; z-index:3;}
.LT_hd_li_TM table{ width:90px; height:25px; line-height:25px; font-size:13px; position:absolute; top:5px; left:5px; *left:8px; _left:12px; text-align:left; z-index:1000;}
.LT_hd_li_TM_hover{background:url(../images/TopMenu_bg.jpg) no-repeat left center; width:100px; height:27px;;}
/*----end submenu----*/
/*----start submenu----*/
.submenu{}
.LT_SM_wrap{padding:10px 5px;}
.LT_SM_wrap_4a{padding:10px 5px;}
.LT_SM_wrap_4a ul{padding-left:10px; padding-bottom:10px;}
.LT_SM_wrap_4a ul li{cursor:pointer; color:#2b6491; position:relative; margin-top:5px; line-height:25px; height:21px;}
.LT_P_wrap{padding-top:3px;}
.LT_submenu_p{width:220px; height:31px; background:url(../images/LT_submenu_hover_bg.png) no-repeat; line-height:31px; font-weight:bold; cursor:pointer; padding-bottom:5px; padding-top:0px; *padding-top:0px; _padding-top:5px;}
.LT_submenu_p_check{width:220px; height:31px; background:url(../images/LT_submenu_bg.png) no-repeat; line-height:31px; font-weight:bold; cursor:pointer;}
.LT_submenu_p_4a{width:220px; height:31px; background:url(../images/LT_submenu_bg.png) no-repeat; line-height:31px; font-weight:bold; cursor:pointer; padding-bottom:5px; padding-top:0px; *padding-top:0px; _padding-top:5px;}
.LT_submenu_p_check_4a{width:220px; height:31px; background:url(../images/LT_submenu_hover_bg.png) no-repeat; line-height:31px; font-weight:bold; cursor:pointer;}
.LT_SM_wrap ul{padding-left:10px; padding-bottom:10px;}
.LT_SM_wrap ul li{cursor:pointer; color:#2b6491; position:relative; margin-top:5px; line-height:25px; height:21px;}
.LT_SM_li_hover{height:21px; background:url(../images/LT_SM_li_bg.jpg) repeat-x; width:180px; border:#b3bcc5 solid 1px;}
.LT_SM_li_hover_active{font-weight:bold; color:#000000;}
.LT_SM_wrap table{position:absolute; top:-2px; }
/*----end submenu----*/
/*----start lefttree----*/
.LT_left_wrap{
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 0;
	padding-left: 7px;
}
.tree_but_bot{width:230px; height:10px;}
.AT_tree{
}
.AT_tree_wrap{
}
.AT_tree_tit{width:235px; height:6px; background:url(../images/AT_tree_tit.jpg) no-repeat left top;}
.AT_tree_mid{width:235px; background:url(../images/AT_tree_con.jpg) repeat-y left top; margin-top:0px; *margin-top:0px; _margin-top:-9px; }
.AT_tree_mid_wrap{padding:5px 10px;  }
.widget_tree{height:200px; overflow:auto; overflow-x:hidden;}
.AT_tree_bot{width:235px; height:6px; background:url(../images/AT_tree_bot.jpg) no-repeat;}
/*----end lefttree----*/
/*----------end layout_tradition----------*/

/*----------end layout布局框架----------*/
/*----------start 容器contain----------*/
.contain{width:100%; *width:98.8%; _width:97.8%; min-height:20px; border:1px solid #bdc9d7; margin-bottom:10px;}
.contain_wrap{}
.contain_search_title{width:100%; height:30px; background:url(../images/contain_title.jpg) repeat-x;}
.contain_search_title_wrap{padding:3px 10px 3px 35px; line-height:24px;}
.contain_title{width:100%; background:url(../images/contain_tit_bg.jpg) repeat-x; height:28px; line-height:28px;}
.contain_t_wrap{padding:0px 10px;}
.contain_t_text{font:12px; color:#2c6795; font-weight:bold; padding-top:0px; *padding-top:0px; _padding-top:5px;}
.contain_t_check{padding-top:5px;}
.contain_icon{width:18px; height:18px; background:url(../images/contain_tit_icon.jpg) no-repeat; cursor:pointer;}
.contain_icon_active{width:18px; height:18px; background:url(../images/contain_tit_iconActive.jpg) no-repeat; cursor:pointer;}
.contain_search{width:100%; background:#f5f5f5; min-height:50px; border-bottom:1px solid #edf4fd; color:#2c6795; font-weight:bold;}
.contain_search_tabs{border:1px solid #c9c9c9; border-top:none;}
.contain_search_tabsborder{border:1px solid #c9c9c9;}
.contain_search table td{padding:3px 0px 3px 5px;}
.contain_s_wrap{padding:10px;}
.contain_list{min-height:100px;}
.contain_ft{background:url(../images/contain_ft_bg.jpg) repeat-x; width:100%; line-height:28px; height:32px;  border-top:1px solid #e7e7e9;}
/*----------end 容器contain----------*/
/*----------start 列表list----------*/
.list{width:100%;}
.list th{background:url(../images/list_th_bg.jpg) left top repeat-x; text-align:center; color:#2c6795; border:1px solid #e7e7e9; border-left:none; padding:5px 3px;}
.list td{text-align:center; color:#2c6795; padding:5px 3px;}
/*----------end 列表list----------*/
/*----------start 控件control----------*/
/*----------start slideMenu----------*/
.slideMenuBox{width:142px; position:absolute; z-index:999; top:5px; word-break: break-all;/*必须*/}
.slideMB_title{background:url(../images/slideMenu_title_bg.png) no-repeat; width:130px; height:30px;}
.slideMB_top{background:url(../images/slideMenu_top_bg.png) no-repeat; width:142px; height:4px;}
.slideMB_con{background:url(../images/slideMenu_con_bg.png) repeat-y; width:142px; margin-top:0px; *margin-top:0px; _margin-top:-12px;}
.slideMB_con_wrap{padding:3px 6px 0px 1px;}
.slideMB_con_wrap ul li{height:23px; line-height:180%; cursor:pointer; padding-top:3px; padding-left:3px; color:#525d6d;}
.slideMB_con_li_active{height:23px; background:url(../images/slideMB_con_li_active.jpg) repeat-x; font-weight:bold;}
.slideMB_bot{background:url(../images/slideMenu_bot_bg.png) repeat-y; width:142px; height:25px;}
.hideSlideMenu{width:15px; height:15px; background:url(../images/slideMenu_icon02.png) no-repeat; cursor:pointer; margin:0 auto auto;}
.slideMB_bot_wrap{padding:2px 20px 5px 20px;}
.slidemenuicon001{width:16px; height:16px; background:url(../images/chart.png) no-repeat;}
.slidemenuicon002{width:16px; height:16px; background:url(../images/chart1.png) no-repeat;}
.slidemenuicon003{width:16px; height:16px; background:url(../images/icon007.png) no-repeat;}
.slidemenuicon004{width:16px; height:16px; background:url(../images/pda.png) no-repeat;}
/*----------end  slideMenu----------*/
/*----------end 控件control----------*/

/*----------start forms----------*/
/*----------start input_text----------*/
.input_text{width:98%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text80{width:80%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text50{width:50%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text40{width:40%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text30{width:30%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text10{width:10%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text5{width:5%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
.input_text45{width:45%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid;}
/*----------end  input_text----------*/
/*----------start textarea----------*/
.textarea{width:98%; height:200px; background:#ffffff url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid; font-size:12px;}
.textarea80{width:80%; height:80px; background:#ffffff url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid; font-size:12px;}

/*----------end  input_text----------*/
/*----------start line----------*/
.hr_line{border:none; border-top:1px solid #c9c9c9; border-bottom:1px solid #ffffff;}

/*----------end line----------*/
/*----------start select----------*/
.select{width:80%; height:23px; background:url(../images/input_text_bg.jpg) repeat-x; border:#9cb0ce 1px solid; line-height:23px;}
/*----------end  select----------*/
/*----------start flie----------*/
.input_file30{width:30%; height:20px; background:url(../images/input_text_bg.jpg) repeat-x; background:none; border:#9cb0ce 1px solid;}
/*----------end  flie----------*/
/*----------start button----------*/

/********************************start window button***********************************************/
.window_button{height:25px; font-size:12px; float:left; margin-left:10px;}
.window_button .window_button_center .window_button_centerInput{border:0; background:none;}
.window_button .window_button_left{background:url(../images/win_button_left.png) no-repeat right top; width:4px; height:25px; padding:0;}
.window_button .window_button_center{background:url(../images/win_button_center.png) repeat-x; height:25px; padding:0px 5px; text-align:center; line-height:25px; color:#000000; overflow:hidden; padding:0;}
.window_button .window_button_right{background:url(../images/win_button_right.png) no-repeat left top; width:4px; height:25px; padding:0;}
.window_button .window_button_leftHover{background:url(../images/win_button_lefthover.png) no-repeat right top; width:4px; height:25px; padding:0;}
.window_button .window_button_centerHover{background:url(../images/win_button_centerHover.png) repeat-x; height:25px; padding:0px 5px; line-height:25px; text-align:center; padding:0;}
.window_button .window_button_rightHover{background:url(../images/win_button_rightHover.png) no-repeat left top; width:4px; height:25px; padding:0;}
.window_button .window_button_leftDown{background:url(../images/win_button_leftDown.png) no-repeat right top; width:4px; height:25px; padding:0;}
.window_button .window_button_centerHoverDown{background:url(../images/win_button_centerDown.png) repeat-x; height:25px; padding:0 5px 0 5px; line-height:25px; text-align:center; padding:0;}
.window_button .window_button_rightHoverDown{background:url(../images/win_button_rightDown.png) no-repeat left top; width:4px; height:25px; padding:0px;}
/*-----strat window_button-----*/
.window_button_blue{height:25px; font-size:12px; cursor:pointer;}
.window_button_blue .window_button_center .window_button_centerInput{border:0; background:none; color:#ffffff; height:25px; cursor:pointer;}
.window_button_blue .window_button_left{background:url(../images/button_BlueLeft.png) no-repeat right top; width:4px; height:25px;}
.window_button_blue .window_button_center{background:url(../images/button_BlueCenter.png) repeat-x; height:25px; padding:0 5px 0 5px;}
.window_button_blue .window_button_right{background:url(../images/button_BlueRight.png) no-repeat left top; width:4px; height:25px;}
.window_button_blue .window_button_leftHover{background:url(../images/button_BlueLeft_hover.png) no-repeat right top; width:4px; height:25px;}
.window_button_blue .window_button_centerHover{background:url(../images/button_BlueCenter_hover.png) repeat-x; height:25px; line-height:25px; padding:0 5px;}
.window_button_blue .window_button_center .window_button_centerInputHover{color:#000000; height:25px; line-height:25px;}
.window_button_blue .window_button_rightHover{background:url(../images/button_BlueRight_hover.png) no-repeat left top; width:4px; height:25px;}
.window_button_blue .window_button_leftDown{background:url(../images/button_BlueLeft_down.png) no-repeat right top; width:4px; height:25px;}
.window_button_blue .window_button_centerHoverDown{background:url(../images/button_BlueCenter_down.png) repeat-x; height:25px; padding:0 5px 0 5px;}
.window_button_blue .window_button_rightHoverDown{background:url(../images/button_BlueRight_down.png) no-repeat left top; width:4px; height:25px;}
.window_button_blue .window_button_center .window_button_centerInputDown{ color:#09529c; height:25px; line-height:25px;}
/*-----end window_button-----*/
/*-----strat window_button_display-----*/
.window_button_disabled{height:25px; font-size:12px; float:left; margin-left:10px;}
.window_button_blue_disabled{height:25px; font-size:12px; cursor:pointer;}
.window_button_disabled .window_button_cente_disabled .window_button_centerInput1_disabled{border:0; background:none;}
.window_button_disabled .window_button_left_disabled{background:url(../images/button_BlueLeft_down.png) no-repeat right top; width:4px; height:25px;}
.window_button_disabled .window_button_center_disabled{background:url(../images/button_BlueCenter_down.png) repeat-x; height:25px; padding:0 5px 0 5px;}
.window_button_disabled .window_button_right_disabled{background:url(../images/button_BlueRight_down.png) no-repeat left top; width:4px; height:25px;}

/*-----end window_button_display-----*/
/*----------end  button----------*/
/*----start pageing----*/
.pageingbar{width:100%; height:32px; color:#2c6795;}
.pageing_wrapper{padding:1px 10px 2px 10px;}
.pageicon{width:29px; height:29px; cursor:pointer; margin-left:10px;}
.nonfirstpage{background:url(../images/firstpage.jpg) no-repeat center center;}
.nonuppage{background:url(../images/uppage.jpg) no-repeat center center;}
.newnextpage{background:url(../images/nextpagenew.jpg) no-repeat center center;}
.newnextpage_action{background:url(../images/nextpageblue.jpg) no-repeat center center;}
.newlastpage{background:url(../images/lastpagenew.jpg) no-repeat center center;}
.newlastpage_action{background:url(../images/lastpageblue.jpg) no-repeat center center;}
.pageinginput_l{width:10px; height:21px; background:url(../images/pageingbarinput_l.jpg) no-repeat left top; float:left;}
.pageinginput_c{border:0px; padding:0px; height:21px; line-height:21px; background:url(../images/pageingbarinput_c.jpg) repeat-x; color:#084c92; float:left; margin:0; text-align:center; width:50px; color:#000000;}
.pageinginput_r{width:10px; height:21px; background:url(../images/pageingbarinput_r.jpg) no-repeat right top; float:left;}
/*----end pageing----*/
/*----------end forms----------*/

/*----start toolbar----*/
.toolbar{width:100%; height:30px; background:url(../images/contain_title.jpg) repeat-x;}
.toolbar_wrap{padding:3px 0 0 0;}
.toolbar_line{width:3px; height:25px; background:url(../images/toolbar_line.jpg) no-repeat center center;  float:left; margin-left:10px;}
.toolbar_Navigation{width:100%; height:30px; background:url(../images/contain_title.jpg) repeat-x;}
.toolbar_Navigation_wrap{padding:6px 0 0 10px; font-weight:bold; color:#2c6795;}
/*----end toolbar----*/
/*----start drag----*/
.dragbar{}
.dragbar_l{}
.dragbar_c{}
.dragbar_r{}
.drag{}
.drag td{padding:0;}
.dragbar_c img{cursor:pointer;}
.drag .drag_t_l{width:6px; height:6px; background:url(../images/drag_t_l.jpg) no-repeat right top;}
.drag .drag_t_c{height:6px; background:url(../images/drag_t_c.jpg) repeat-x left top;}
.drag .drag_t_r{width:6px; height:6px; background:url(../images/drag_t_r.jpg) no-repeat left top;}
.drag .drag_b_l{width:6px; height:6px; background:url(../images/drag_b_l.jpg) no-repeat right bottom;}
.drag .drag_b_c{height:6px; background:url(../images/drag_t_c.jpg) repeat-x left bottom;}
.drag .drag_b_r{width:6px; height:6px; background:url(../images/drag_b_r.jpg) no-repeat left bottom;}
.drag .drag_m_l{width:6px; background:url(../images/drag_m_lr.jpg) repeat-y right center;}
.drag .drag_m_c{ width:100px; height:200px; background:#ffffff;}
.drag .drag_m_r{width:6px; background:url(../images/drag_m_lr.jpg) repeat-y left center;}
.drag_overFlow{height:200px; overflow:auto; overflow-x:hidden; text-align:left;}
/*----end drag----*/
/*----start 4a----*/
.addLi li{margin:3px;}
.Shortcut{position:absolute; top:130px; right:0px; width:350px; height:320px; z-index:9999; background:none; overflow:hidden;}
.Shortcut_but{width:28px; height:72px; cursor:pointer; margin-right:-1px; margin-top:10px;}
.but_hide{background:url(../images/Shortcut_show.gif) no-repeat; width:28px; height:72px;}
.but_show{background:url(../images/Shortcut_hide.gif) no-repeat; width:28px; height:72px; display:none;}
.sh_contain{width:350px; height:320px; display:none;}
#accordion{font-weight:normal; color:#2c6795;}
.show_window_Application{margin:10px auto auto;} 
.Shortcuts{ cursor:pointer; position:absolute; left:20px; bottom:-2px;}
.Shortcuts_icon{width:14px; height:22px;}
.Shortcuts_icon_active{ width:14px; height:22px; background:url(../images/Shortcuts_icon_active.gif) no-repeat;}
.Shortcuts_show{display:none; padding:5px; border:1px solid #9cb0ce; position:absolute; left:98px; bottom:26px; background:#cadaf2; width:200px; height:120px;}
.PersonalInformation{width:14px; height:22px;}
.PersonalInformation_active{ width:14px; height:22px; background:url(../images/Shortcuts_icon_active.gif) no-repeat;}
.PersonalInformation_show{display:none; padding:5px; border:1px solid #9cb0ce; position:absolute; right:22px; bottom:26px; background:#cadaf2; width:210px; height:220px; z-index:9999;}
.treeview ul{background:none;}
.show_window{float:left; margin:10px; *margin:10px; _margin:8px; display:inline; overflow:hidden;}
.show_window .contain_search{height:200px;}

.marg_lef2 a:hover {
	color:#CC0000;
}
#creatOrder{width:100%; display:none; background:#f5f5f5;}


#assignAbleRoleStr,
#assignAbleAppStr {
	border: 1px solid #9cb0ce;
	color: #333;
	margin-right: 30px;
}
#addrolebtn,
#addappbtn {
	margin-bottom: 20px;
}
#assignedRoleStr,
#assignedAppStr {
	border: 1px solid #9cb0ce;
	color: #333;
	margin-left: 30px;
}
/*----end 4a----*/